<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.DsScoreMatchDao">


    <select id="listDsMatchScore" resultType="com.bootdo.common.domain.DsScoreMatchDO">
        select
        `id`,`match`,`match_bg`,`selection`,`start_time`,`host_team`,`host_rank`,`host_red`,`host_yellow`,`over_score`,`guest_team`,`guest_rank`,`guest_red`,`guest_yellow`,`half_score`,`let_ball`,`size_ball`,`corner_ball`,`half_corner`,`over_corner`,`match_time`,`create_time`,`update_time`
        from ds_score_match
        <where>


            <!--总比分大于 > 初大小球-->
            <if test="dsMatch =overGtSize">
            <![CDATA[
            (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) > size_ball
                 ]]>
            </if>
            <!--总比分大于等于 >= 初大小球-->
            <if test="dsMatch =overGteSize">
                <![CDATA[
             (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) >= size_ball
                 ]]>
            </if>
            <!--总比分等于 = 初大小球-->
            <if test="dsMatch =overEqSize">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) = size_ball
            ]]>
            </if>
            <!--总比分小于 < 初大小球-->
            <if test="dsMatch =overLtSize">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) < size_ball
            ]]>
            </if>
            <!--总比分小于等于 <= 初大小球-->
            <if test="dsMatch =overLteSize">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) <= size_ball
            ]]>
            </if>






          <!--主队+letball >= 客队-->
           <if test="dsMatch =hostGteGuest ">
               <![CDATA[
                 (substring_index(over_score,':', 1)+let_ball) >= substring_index(over_score,':', -1)
               ]]>
           </if>
           <!--主队+letball > 客队-->
          <if test="dsMatch =hostGtGuest ">
              <![CDATA[
            (substring_index(over_score,':', 1)+let_ball) > substring_index(over_score,':', -1)
          ]]>
          </if>
          <!--主队+letball = 客队-->
            <if test="dsMatch =hostEqGuest ">
                <![CDATA[
              (substring_index(over_score,':', 1)+let_ball) = substring_index(over_score,':', -1)
            ]]>
            </if>
            <!--主队+letball <= 客队-->
            <if test="dsMatch =hostLteGuest ">
                <![CDATA[
              (substring_index(over_score,':', 1)+let_ball) <= substring_index(over_score,':', -1)
            ]]>
            </if>

            <!--主队+letball < 客队-->
            <if test="dsMatch =hostLtGuest ">
                <![CDATA[
              (substring_index(over_score,':', 1)+let_ball) < substring_index(over_score,':', -1)
            ]]>
            </if>




            <!--总比分 >= 半场比分-->
            <if test="dsMatch =overGteHalf ">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1))>= (substring_index(half_score,':', 1)+substring_index(half_score,':', -1))
            ]]>
            </if>

            <!--总比分 > 半场比分-->
            <if test="dsMatch =overGtHalf ">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) > (substring_index(half_score,':', 1)+substring_index(half_score,':', -1))
            ]]>
            </if>

            <!--总比分 = 半场比分-->
            <if test="dsMatch =overEqHalf ">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) = (substring_index(half_score,':', 1)+substring_index(half_score,':', -1))
            ]]>
            </if>





            <!--全场角球 >= 初角球-->
            <if test="dsMatch =overGteCorner">
                <![CDATA[
              (substring_index(over_corner,':', 1)+substring_index(over_corner,':', -1)) >= corner_ball
            ]]>
            </if>

            <!--全场角球 > 初角球-->
            <if test="dsMatch =overGtCorner">
                <![CDATA[
                 (substring_index(over_corner,':', 1)+substring_index(over_corner,':', -1)) > corner_ball
            ]]>
            </if>

            <!--全场角球 = 初角球-->
            <if test="dsMatch =overEqCorner ">
                <![CDATA[
               (substring_index(over_corner,':', 1)+substring_index(over_corner,':', -1)) = corner_ball
            ]]>
            </if>



            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="match != null and match != ''">and match = #{match}</if>
            <if test="matchBg != null and matchBg != ''">and match_bg = #{matchBg}</if>
            <if test="selection != null and selection != ''">and selection = #{selection}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="hostTeam != null and hostTeam != ''">and host_team = #{hostTeam}</if>
            <if test="hostRank != null and hostRank != ''">and host_rank = #{hostRank}</if>
            <if test="hostRed != null and hostRed != ''">and host_red = #{hostRed}</if>
            <if test="hostYellow != null and hostYellow != ''">and host_yellow = #{hostYellow}</if>
            <if test="overScore != null and overScore != ''">and over_score = #{overScore}</if>
            <if test="guestTeam != null and guestTeam != ''">and guest_team = #{guestTeam}</if>
            <if test="guestRank != null and guestRank != ''">and guest_rank = #{guestRank}</if>
            <if test="guestRed != null and guestRed != ''">and guest_red = #{guestRed}</if>
            <if test="guestYellow != null and guestYellow != ''">and guest_yellow = #{guestYellow}</if>
            <if test="halfScore != null and halfScore != ''">and half_score = #{halfScore}</if>
            <if test="letBall != null and letBall != ''">and let_ball = #{letBall}</if>
            <if test="sizeBall != null and sizeBall != ''">and size_ball = #{sizeBall}</if>
            <if test="cornerBall != null and cornerBall != ''">and corner_ball = #{cornerBall}</if>
            <if test="halfCorner != null and halfCorner != ''">and half_corner = #{halfCorner}</if>
            <if test="overCorner != null and overCorner != ''">and over_corner = #{overCorner}</if>
            <if test="matchTime != null and matchTime != ''">and match_time = #{matchTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="countDsMatchScore" resultType="int">
        select count(*) from ds_score_match
        from ds_score_match
        <where>


            <!--总比分大于 > 初大小球-->
            <if test="dsMatch =overGtSize">
                <![CDATA[
            (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) > size_ball
                 ]]>
            </if>
            <!--总比分大于等于 >= 初大小球-->
            <if test="dsMatch =overGteSize">
                <![CDATA[
             (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) >= size_ball
                 ]]>
            </if>
            <!--总比分等于 = 初大小球-->
            <if test="dsMatch =overEqSize">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) = size_ball
            ]]>
            </if>
            <!--总比分小于 < 初大小球-->
            <if test="dsMatch =overLtSize">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) < size_ball
            ]]>
            </if>
            <!--总比分小于等于 <= 初大小球-->
            <if test="dsMatch =overLteSize">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) <= size_ball
            ]]>
            </if>




            <!--主队+letball >= 客队-->
            <if test="dsMatch =hostGteGuest ">
                <![CDATA[
                 (substring_index(over_score,':', 1)+let_ball) >= substring_index(over_score,':', -1)
               ]]>
            </if>
            <!--主队+letball > 客队-->
            <if test="dsMatch =hostGtGuest ">
                <![CDATA[
            (substring_index(over_score,':', 1)+let_ball) > substring_index(over_score,':', -1)
          ]]>
            </if>
            <!--主队+letball = 客队-->
            <if test="dsMatch =hostEqGuest ">
                <![CDATA[
              (substring_index(over_score,':', 1)+let_ball) = substring_index(over_score,':', -1)
            ]]>
            </if>
            <!--主队+letball <= 客队-->
            <if test="dsMatch =hostLteGuest ">
                <![CDATA[
              (substring_index(over_score,':', 1)+let_ball) <= substring_index(over_score,':', -1)
            ]]>
            </if>

            <!--主队+letball < 客队-->
            <if test="dsMatch =hostLtGuest ">
                <![CDATA[
              (substring_index(over_score,':', 1)+let_ball) < substring_index(over_score,':', -1)
            ]]>
            </if>




            <!--总比分 >= 半场比分-->
            <if test="dsMatch =overGteHalf ">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1))>= (substring_index(half_score,':', 1)+substring_index(half_score,':', -1))
            ]]>
            </if>

            <!--总比分 > 半场比分-->
            <if test="dsMatch =overGtHalf ">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) > (substring_index(half_score,':', 1)+substring_index(half_score,':', -1))
            ]]>
            </if>

            <!--总比分 = 半场比分-->
            <if test="dsMatch =overEqHalf ">
                <![CDATA[
              (substring_index(over_score,':', 1)+substring_index(over_score,':', -1)) = (substring_index(half_score,':', 1)+substring_index(half_score,':', -1))
            ]]>
            </if>



            <!--全场角球 >= 初角球-->
            <if test="dsMatch =overGteCorner">
                <![CDATA[
              (substring_index(over_corner,':', 1)+substring_index(over_corner,':', -1)) >= corner_ball
            ]]>
            </if>

            <!--全场角球 > 初角球-->
            <if test="dsMatch =overGtCorner">
                <![CDATA[
                 (substring_index(over_corner,':', 1)+substring_index(over_corner,':', -1)) > corner_ball
            ]]>
            </if>

            <!--全场角球 = 初角球-->
            <if test="dsMatch =overEqCorner ">
                <![CDATA[
               (substring_index(over_corner,':', 1)+substring_index(over_corner,':', -1)) = corner_ball
            ]]>
            </if>


            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="match != null and match != ''">and match = #{match}</if>
            <if test="matchBg != null and matchBg != ''">and match_bg = #{matchBg}</if>
            <if test="selection != null and selection != ''">and selection = #{selection}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="hostTeam != null and hostTeam != ''">and host_team = #{hostTeam}</if>
            <if test="hostRank != null and hostRank != ''">and host_rank = #{hostRank}</if>
            <if test="hostRed != null and hostRed != ''">and host_red = #{hostRed}</if>
            <if test="hostYellow != null and hostYellow != ''">and host_yellow = #{hostYellow}</if>
            <if test="overScore != null and overScore != ''">and over_score = #{overScore}</if>
            <if test="guestTeam != null and guestTeam != ''">and guest_team = #{guestTeam}</if>
            <if test="guestRank != null and guestRank != ''">and guest_rank = #{guestRank}</if>
            <if test="guestRed != null and guestRed != ''">and guest_red = #{guestRed}</if>
            <if test="guestYellow != null and guestYellow != ''">and guest_yellow = #{guestYellow}</if>
            <if test="halfScore != null and halfScore != ''">and half_score = #{halfScore}</if>
            <if test="letBall != null and letBall != ''">and let_ball = #{letBall}</if>
            <if test="sizeBall != null and sizeBall != ''">and size_ball = #{sizeBall}</if>
            <if test="cornerBall != null and cornerBall != ''">and corner_ball = #{cornerBall}</if>
            <if test="halfCorner != null and halfCorner != ''">and half_corner = #{halfCorner}</if>
            <if test="overCorner != null and overCorner != ''">and over_corner = #{overCorner}</if>
            <if test="matchTime != null and matchTime != ''">and match_time = #{matchTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
        </where>
    </select>





    <delete id="batchRemove">
        delete from ds_score_match where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="list" resultType="com.bootdo.common.domain.DsScoreMatchDO">
        select
        `id`,`match`,`match_bg`,`selection`,`start_time`,`host_team`,`host_rank`,`host_red`,`host_yellow`,`over_score`,`guest_team`,`guest_rank`,`guest_red`,`guest_yellow`,`half_score`,`let_ball`,`size_ball`,`corner_ball`,`half_corner`,`over_corner`,`match_time`,`create_time`,`update_time`
        from ds_score_match
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="match != null and match != ''">and match = #{match}</if>
            <if test="matchBg != null and matchBg != ''">and match_bg = #{matchBg}</if>
            <if test="selection != null and selection != ''">and selection = #{selection}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="hostTeam != null and hostTeam != ''">and host_team = #{hostTeam}</if>
            <if test="hostRank != null and hostRank != ''">and host_rank = #{hostRank}</if>
            <if test="hostRed != null and hostRed != ''">and host_red = #{hostRed}</if>
            <if test="hostYellow != null and hostYellow != ''">and host_yellow = #{hostYellow}</if>
            <if test="overScore != null and overScore != ''">and over_score = #{overScore}</if>
            <if test="guestTeam != null and guestTeam != ''">and guest_team = #{guestTeam}</if>
            <if test="guestRank != null and guestRank != ''">and guest_rank = #{guestRank}</if>
            <if test="guestRed != null and guestRed != ''">and guest_red = #{guestRed}</if>
            <if test="guestYellow != null and guestYellow != ''">and guest_yellow = #{guestYellow}</if>
            <if test="halfScore != null and halfScore != ''">and half_score = #{halfScore}</if>
            <if test="letBall != null and letBall != ''">and let_ball = #{letBall}</if>
            <if test="sizeBall != null and sizeBall != ''">and size_ball = #{sizeBall}</if>
            <if test="cornerBall != null and cornerBall != ''">and corner_ball = #{cornerBall}</if>
            <if test="halfCorner != null and halfCorner != ''">and half_corner = #{halfCorner}</if>
            <if test="overCorner != null and overCorner != ''">and over_corner = #{overCorner}</if>
            <if test="matchTime != null and matchTime != ''">and match_time = #{matchTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(*) from ds_score_match
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="match != null and match != ''">and match = #{match}</if>
            <if test="matchBg != null and matchBg != ''">and match_bg = #{matchBg}</if>
            <if test="selection != null and selection != ''">and selection = #{selection}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="hostTeam != null and hostTeam != ''">and host_team = #{hostTeam}</if>
            <if test="hostRank != null and hostRank != ''">and host_rank = #{hostRank}</if>
            <if test="hostRed != null and hostRed != ''">and host_red = #{hostRed}</if>
            <if test="hostYellow != null and hostYellow != ''">and host_yellow = #{hostYellow}</if>
            <if test="overScore != null and overScore != ''">and over_score = #{overScore}</if>
            <if test="guestTeam != null and guestTeam != ''">and guest_team = #{guestTeam}</if>
            <if test="guestRank != null and guestRank != ''">and guest_rank = #{guestRank}</if>
            <if test="guestRed != null and guestRed != ''">and guest_red = #{guestRed}</if>
            <if test="guestYellow != null and guestYellow != ''">and guest_yellow = #{guestYellow}</if>
            <if test="halfScore != null and halfScore != ''">and half_score = #{halfScore}</if>
            <if test="letBall != null and letBall != ''">and let_ball = #{letBall}</if>
            <if test="sizeBall != null and sizeBall != ''">and size_ball = #{sizeBall}</if>
            <if test="cornerBall != null and cornerBall != ''">and corner_ball = #{cornerBall}</if>
            <if test="halfCorner != null and halfCorner != ''">and half_corner = #{halfCorner}</if>
            <if test="overCorner != null and overCorner != ''">and over_corner = #{overCorner}</if>
            <if test="matchTime != null and matchTime != ''">and match_time = #{matchTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
        </where>
    </select>
    <insert id="save" parameterType="com.bootdo.common.domain.DsScoreMatchDO" useGeneratedKeys="true" keyProperty="id">
        insert into ds_score_match
        (`match`,
         `match_bg`,
         `selection`,
         `start_time`,
         `host_team`,
         `host_rank`,
         `host_red`,
         `host_yellow`,
         `over_score`,
         `guest_team`,
         `guest_rank`,
         `guest_red`,
         `guest_yellow`,
         `half_score`,
         `let_ball`,
         `size_ball`,
         `corner_ball`,
         `half_corner`,
         `over_corner`,
         `match_time`,
         `create_time`,
         `update_time`)
        values (#{match},
                #{matchBg},
                #{selection},
                #{startTime},
                #{hostTeam},
                #{hostRank},
                #{hostRed},
                #{hostYellow},
                #{overScore},
                #{guestTeam},
                #{guestRank},
                #{guestRed},
                #{guestYellow},
                #{halfScore},
                #{letBall},
                #{sizeBall},
                #{cornerBall},
                #{halfCorner},
                #{overCorner},
                #{matchTime},
                #{createTime},
                #{updateTime})
    </insert>
    <delete id="remove">
        delete
        from ds_score_match
        where id = #{value}
    </delete>
    <update id="update" parameterType="com.bootdo.common.domain.DsScoreMatchDO">
        update ds_score_match
        <set>
            <if test="match != null">`match` = #{match},</if>
            <if test="matchBg != null">`match_bg` = #{matchBg},</if>
            <if test="selection != null">`selection` = #{selection},</if>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="hostTeam != null">`host_team` = #{hostTeam},</if>
            <if test="hostRank != null">`host_rank` = #{hostRank},</if>
            <if test="hostRed != null">`host_red` = #{hostRed},</if>
            <if test="hostYellow != null">`host_yellow` = #{hostYellow},</if>
            <if test="overScore != null">`over_score` = #{overScore},</if>
            <if test="guestTeam != null">`guest_team` = #{guestTeam},</if>
            <if test="guestRank != null">`guest_rank` = #{guestRank},</if>
            <if test="guestRed != null">`guest_red` = #{guestRed},</if>
            <if test="guestYellow != null">`guest_yellow` = #{guestYellow},</if>
            <if test="halfScore != null">`half_score` = #{halfScore},</if>
            <if test="letBall != null">`let_ball` = #{letBall},</if>
            <if test="sizeBall != null">`size_ball` = #{sizeBall},</if>
            <if test="cornerBall != null">`corner_ball` = #{cornerBall},</if>
            <if test="halfCorner != null">`half_corner` = #{halfCorner},</if>
            <if test="overCorner != null">`over_corner` = #{overCorner},</if>
            <if test="matchTime != null">`match_time` = #{matchTime},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>
    <select id="get" resultType="com.bootdo.common.domain.DsScoreMatchDO">
        select `id`,
               `match`,
               `match_bg`,
               `selection`,
               `start_time`,
               `host_team`,
               `host_rank`,
               `host_red`,
               `host_yellow`,
               `over_score`,
               `guest_team`,
               `guest_rank`,
               `guest_red`,
               `guest_yellow`,
               `half_score`,
               `let_ball`,
               `size_ball`,
               `corner_ball`,
               `half_corner`,
               `over_corner`,
               `match_time`,
               `create_time`,
               `update_time`
        from ds_score_match
        where id = #{value}
    </select>
</mapper>