<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.ScoreDao">

	<select id="get" resultType="com.bootdo.common.domain.ScoreDO">
		select `bet_id`,`bet_week`,`bet_league`,`bet_time`,`start_time`,`host_rank`,`host_team`,`guest_rank`,`guest_team`,`bet_score`,`host_red_card`,`guest_red_card`,`host_yellow_card`,`guest_yellow_card`,`bet_score_half`,`draw_ball`,`draw_win_odds`,`draw_drow_odds`,`draw_lose_odds`,`let_ball`,`let_win_odds`,`let_drow_odds`,`let_lose_odds`,`draw_active`,`let_active`,`data_id` from tf_score where bet_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.common.domain.ScoreDO">
		select `bet_id`,`bet_week`,`bet_league`,`bet_time`,`start_time`,`host_rank`,`host_team`,`guest_rank`,`guest_team`,`bet_score`,`host_red_card`,`guest_red_card`,`host_yellow_card`,`guest_yellow_card`,`bet_score_half`,`draw_ball`,`draw_win_odds`,`draw_drow_odds`,`draw_lose_odds`,`let_ball`,`let_win_odds`,`let_drow_odds`,`let_lose_odds`,`draw_active`,`let_active`,`data_id` from tf_score
        <where>  
		  		  <if test="betId != null and betId != ''"> and bet_id = #{betId} </if>
		  		  <if test="betWeek != null and betWeek != ''"> and bet_week = #{betWeek} </if>
		  		  <if test="betLeague != null and betLeague != ''"> and bet_league = #{betLeague} </if>
		  		  <if test="betTime != null and betTime != ''"> and bet_time = #{betTime} </if>
		  		  <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
		  		  <if test="hostRank != null and hostRank != ''"> and host_rank = #{hostRank} </if>
		  		  <if test="hostTeam != null and hostTeam != ''"> and host_team = #{hostTeam} </if>
		  		  <if test="guestRank != null and guestRank != ''"> and guest_rank = #{guestRank} </if>
		  		  <if test="guestTeam != null and guestTeam != ''"> and guest_team = #{guestTeam} </if>
		  		  <if test="betScore != null and betScore != ''"> and bet_score = #{betScore} </if>
		  		  <if test="hostRedCard != null and hostRedCard != ''"> and host_red_card = #{hostRedCard} </if>
		  		  <if test="guestRedCard != null and guestRedCard != ''"> and guest_red_card = #{guestRedCard} </if>
		  		  <if test="hostYellowCard != null and hostYellowCard != ''"> and host_yellow_card = #{hostYellowCard} </if>
		  		  <if test="guestYellowCard != null and guestYellowCard != ''"> and guest_yellow_card = #{guestYellowCard} </if>
		  		  <if test="betScoreHalf != null and betScoreHalf != ''"> and bet_score_half = #{betScoreHalf} </if>
		  		  <if test="drawBall != null and drawBall != ''"> and draw_ball = #{drawBall} </if>
		  		  <if test="drawWinOdds != null and drawWinOdds != ''"> and draw_win_odds = #{drawWinOdds} </if>
		  		  <if test="drawDrowOdds != null and drawDrowOdds != ''"> and draw_drow_odds = #{drawDrowOdds} </if>
		  		  <if test="drawLoseOdds != null and drawLoseOdds != ''"> and draw_lose_odds = #{drawLoseOdds} </if>
		  		  <if test="letBall != null and letBall != ''"> and let_ball = #{letBall} </if>
		  		  <if test="letWinOdds != null and letWinOdds != ''"> and let_win_odds = #{letWinOdds} </if>
		  		  <if test="letDrowOdds != null and letDrowOdds != ''"> and let_drow_odds = #{letDrowOdds} </if>
		  		  <if test="letLoseOdds != null and letLoseOdds != ''"> and let_lose_odds = #{letLoseOdds} </if>
		  		  <if test="drawActive != null and drawActive != ''"> and draw_active = #{drawActive} </if>
		  		  <if test="letActive != null and letActive != ''"> and let_active = #{letActive} </if>
		  		  <if test="dataId != null and dataId != ''"> and data_id = #{dataId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by bet_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tf_score
		 <where>  
		  		  <if test="betId != null and betId != ''"> and bet_id = #{betId} </if>
		  		  <if test="betWeek != null and betWeek != ''"> and bet_week = #{betWeek} </if>
		  		  <if test="betLeague != null and betLeague != ''"> and bet_league = #{betLeague} </if>
		  		  <if test="betTime != null and betTime != ''"> and bet_time = #{betTime} </if>
		  		  <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
		  		  <if test="hostRank != null and hostRank != ''"> and host_rank = #{hostRank} </if>
		  		  <if test="hostTeam != null and hostTeam != ''"> and host_team = #{hostTeam} </if>
		  		  <if test="guestRank != null and guestRank != ''"> and guest_rank = #{guestRank} </if>
		  		  <if test="guestTeam != null and guestTeam != ''"> and guest_team = #{guestTeam} </if>
		  		  <if test="betScore != null and betScore != ''"> and bet_score = #{betScore} </if>
		  		  <if test="hostRedCard != null and hostRedCard != ''"> and host_red_card = #{hostRedCard} </if>
		  		  <if test="guestRedCard != null and guestRedCard != ''"> and guest_red_card = #{guestRedCard} </if>
		  		  <if test="hostYellowCard != null and hostYellowCard != ''"> and host_yellow_card = #{hostYellowCard} </if>
		  		  <if test="guestYellowCard != null and guestYellowCard != ''"> and guest_yellow_card = #{guestYellowCard} </if>
		  		  <if test="betScoreHalf != null and betScoreHalf != ''"> and bet_score_half = #{betScoreHalf} </if>
		  		  <if test="drawBall != null and drawBall != ''"> and draw_ball = #{drawBall} </if>
		  		  <if test="drawWinOdds != null and drawWinOdds != ''"> and draw_win_odds = #{drawWinOdds} </if>
		  		  <if test="drawDrowOdds != null and drawDrowOdds != ''"> and draw_drow_odds = #{drawDrowOdds} </if>
		  		  <if test="drawLoseOdds != null and drawLoseOdds != ''"> and draw_lose_odds = #{drawLoseOdds} </if>
		  		  <if test="letBall != null and letBall != ''"> and let_ball = #{letBall} </if>
		  		  <if test="letWinOdds != null and letWinOdds != ''"> and let_win_odds = #{letWinOdds} </if>
		  		  <if test="letDrowOdds != null and letDrowOdds != ''"> and let_drow_odds = #{letDrowOdds} </if>
		  		  <if test="letLoseOdds != null and letLoseOdds != ''"> and let_lose_odds = #{letLoseOdds} </if>
		  		  <if test="drawActive != null and drawActive != ''"> and draw_active = #{drawActive} </if>
		  		  <if test="letActive != null and letActive != ''"> and let_active = #{letActive} </if>
		  		  <if test="dataId != null and dataId != ''"> and data_id = #{dataId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.common.domain.ScoreDO">
		insert into tf_score
		(
			`bet_id`, 
			`bet_week`, 
			`bet_league`, 
			`bet_time`, 
			`start_time`, 
			`host_rank`, 
			`host_team`, 
			`guest_rank`, 
			`guest_team`, 
			`bet_score`, 
			`host_red_card`, 
			`guest_red_card`, 
			`host_yellow_card`, 
			`guest_yellow_card`, 
			`bet_score_half`, 
			`draw_ball`, 
			`draw_win_odds`, 
			`draw_drow_odds`, 
			`draw_lose_odds`, 
			`let_ball`, 
			`let_win_odds`, 
			`let_drow_odds`, 
			`let_lose_odds`, 
			`draw_active`, 
			`let_active`, 
			`data_id`
		)
		values
		(
			#{betId}, 
			#{betWeek}, 
			#{betLeague}, 
			#{betTime}, 
			#{startTime}, 
			#{hostRank}, 
			#{hostTeam}, 
			#{guestRank}, 
			#{guestTeam}, 
			#{betScore}, 
			#{hostRedCard}, 
			#{guestRedCard}, 
			#{hostYellowCard}, 
			#{guestYellowCard}, 
			#{betScoreHalf}, 
			#{drawBall}, 
			#{drawWinOdds}, 
			#{drawDrowOdds}, 
			#{drawLoseOdds}, 
			#{letBall}, 
			#{letWinOdds}, 
			#{letDrowOdds}, 
			#{letLoseOdds}, 
			#{drawActive}, 
			#{letActive}, 
			#{dataId}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.common.domain.ScoreDO">
		update tf_score 
		<set>
			<if test="betWeek != null">`bet_week` = #{betWeek}, </if>
			<if test="betLeague != null">`bet_league` = #{betLeague}, </if>
			<if test="betTime != null">`bet_time` = #{betTime}, </if>
			<if test="startTime != null">`start_time` = #{startTime}, </if>
			<if test="hostRank != null">`host_rank` = #{hostRank}, </if>
			<if test="hostTeam != null">`host_team` = #{hostTeam}, </if>
			<if test="guestRank != null">`guest_rank` = #{guestRank}, </if>
			<if test="guestTeam != null">`guest_team` = #{guestTeam}, </if>
			<if test="betScore != null">`bet_score` = #{betScore}, </if>
			<if test="hostRedCard != null">`host_red_card` = #{hostRedCard}, </if>
			<if test="guestRedCard != null">`guest_red_card` = #{guestRedCard}, </if>
			<if test="hostYellowCard != null">`host_yellow_card` = #{hostYellowCard}, </if>
			<if test="guestYellowCard != null">`guest_yellow_card` = #{guestYellowCard}, </if>
			<if test="betScoreHalf != null">`bet_score_half` = #{betScoreHalf}, </if>
			<if test="drawBall != null">`draw_ball` = #{drawBall}, </if>
			<if test="drawWinOdds != null">`draw_win_odds` = #{drawWinOdds}, </if>
			<if test="drawDrowOdds != null">`draw_drow_odds` = #{drawDrowOdds}, </if>
			<if test="drawLoseOdds != null">`draw_lose_odds` = #{drawLoseOdds}, </if>
			<if test="letBall != null">`let_ball` = #{letBall}, </if>
			<if test="letWinOdds != null">`let_win_odds` = #{letWinOdds}, </if>
			<if test="letDrowOdds != null">`let_drow_odds` = #{letDrowOdds}, </if>
			<if test="letLoseOdds != null">`let_lose_odds` = #{letLoseOdds}, </if>
			<if test="drawActive != null">`draw_active` = #{drawActive}, </if>
			<if test="letActive != null">`let_active` = #{letActive}, </if>
			<if test="dataId != null">`data_id` = #{dataId}</if>
		</set>
		where bet_id = #{betId}
	</update>
	
	<delete id="remove">
		delete from tf_score where bet_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tf_score where bet_id in 
		<foreach item="betId" collection="array" open="(" separator="," close=")">
			#{betId}
		</foreach>
	</delete>

	<insert id="batchSave" parameterType="java.util.List">
		INSERT INTO
		`tf_score`
		(
			`bet_id`,
			`bet_week`,
			`bet_league`,
			`bet_time`,
			`start_time`,
			`host_rank`,
			`host_team`,
			`guest_rank`,
			`guest_team`,
			`bet_score`,
			`host_red_card`,
			`guest_red_card`,
			`host_yellow_card`,
			`guest_yellow_card`,
			`bet_score_half`,
			`draw_ball`,
			`draw_win_odds`,
			`draw_drow_odds`,
			`draw_lose_odds`,
			`let_ball`,
			`let_win_odds`,
			`let_drow_odds`,
			`let_lose_odds`,
			`draw_active`,
			`let_active`,
			`data_id`
		)
		VALUES
		<foreach collection="list" item="score" index="index" separator=",">
			(
			#{score.betId},
			#{score.betWeek},
			#{score.betLeague},
			#{score.betTime},
			#{score.startTime},
			#{score.hostRank},
			#{score.hostTeam},
			#{score.guestRank},
			#{score.guestTeam},
			#{score.betScore},
			#{score.hostRedCard},
			#{score.guestRedCard},
			#{score.hostYellowCard},
			#{score.guestYellowCard},
			#{score.betScoreHalf},
			#{score.drawBall},
			#{score.drawWinOdds},
			#{score.drawDrowOdds},
			#{score.drawLoseOdds},
			#{score.letBall},
			#{score.letWinOdds},
			#{score.letDrowOdds},
			#{score.letLoseOdds},
			#{score.drawActive},
			#{score.letActive},
			#{score.dataId}
			)
		</foreach>
	</insert>
</mapper>