<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="layui-row">
    <div class="layui-col-xs12 layui-col-md8">

        <div class="layui-form" id="query-form">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input class="layui-input" name="ssId" id="ssId" type="text" placeholder="数据ID"
                           onkeyup="reLoad()">
                </div>
                <div class="layui-input-inline">
                    <input class="layui-input" name="ssTime" id="ssTime" type="text" placeholder="数据时间"
                           onkeyup="reLoad()">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="betTime" onkeyup="reLoad()" class="layui-input" id="betTime"
                           placeholder="比赛日期">
                </div>
                <div class="layui-input-inline">
                    <input class="layui-input" name="ssTable" id="ssTable" type="text" placeholder="数据源"
                           onkeyup="reLoad()">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline" style="width: 50%;">
                    <button class="layui-btn" onclick="reLoad()"><i class="fa fa-search" aria-hidden="true"></i>查询
                    </button>
                    <button class="layui-btn" onclick="resetSearch()"><i class="fa fa-eraser"
                                                                         aria-hidden="true"></i>重置
                    </button>
                    <button type="button" class="layui-btn" onclick="add()"><i class="fa fa-plus"
                                                                               aria-hidden="true"></i>添加
                    </button>
                    <button type="button" class="layui-btn" onclick="batchRemove()"><i class="fa fa-trash"
                                                                                       aria-hidden="true"></i>删除
                    </button>
                </div>
            </div>
        </div>

        <table class="layui-hide" id="dsScoreMatch"></table>

    </div>
</div>

<div th:include="include :: footer"></div>
<!--<script type="text/javascript" src="/js/appjs/common/dsScoreMatch/dsScoreMatch.js"></script>-->
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#dsScoreMatch'
            ,url:'/common/dsScoreMatch/list'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'match', width:80, title: '用户名'}
                ,{field:'selection', width:80, title: '性别', sort: true}
                ,{field:'startTime', width:80, title: '城市'}
                ,{field:'hostTeam', title: '签名', width: '30%', minWidth: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'hostRank', title: '积分', sort: true}
                ,{field:'hostRed', title: '评分', sort: true}
                ,{field:'hostYellow', title: '职业'}
                ,{field:'overScore', width:137, title: '财富', sort: true}
                ,{field:'guestTeam', width:137, title: '财富', sort: true}
                ,{field:'guestRank', width:137, title: '财富', sort: true}
            ]]
        });
    });
</script>
</body>
</html>