<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">

						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">数据源：</label>
								<div class="col-sm-8">
									<textarea class="form-control"  id="ssTable" name="ssTable"  rows="14" placeholder="导入Table"></textarea>
							</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="button" style="padding: 10px 38px;" class="btn btn-info" onclick="generator()">预览</button>
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/common/scoreData/add.js">
	</script>
</body>
</html>
