<table class="table_stys_01" id="jq_jsbf_body">
    <thead id="jq_jsbf_thead">
    <tr>
        <td width="45">序号</td>
        <td width="65">赛事</td>
        <td width="90">开赛时间</td>
        <td>赛事信息</td>
        <td width="80" id="expertsTd" style="display: table-cell;">专家推荐</td>
        <td width="40">半场</td>
        <td width="35">彩果</td>
        <td width="135">平均欧指</td>
        <td width="75" class="rt_no_border">数据分析</td>
    </tr>
    </thead>
    <tbody id="jq_match_bodyHead_19033_tbody" class="jq_match_bodyHead">
    <tr class="jq_match_tr jq_match_matchId_1552435_tr jq_match_leagueId_43_tr jq_match_status_-1_tr" id="jq_match_1552435_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1552435" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1552435_td"><strong>1</strong></td>
        <td style="color:#fff; background:#FF3333;" id="jq_league_1552435_td" status="0"><a href="http://league.aicai.com/league/43/" style="color:#fff;" target="_blank">英超</a></td>
        <td>
            <span id="jq_league_matchTime_1552435">03-10 22:05</span>
            <span id="jq_league_starttime_1552435" style="display:none;">22:05</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1552435" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1552435" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">1</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1552435">
						[6]
						</span>
						<span id="jq_match_hostteam_1552435_span"><a href="http://league.aicai.com/team/52/" target="_blank">切尔西</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1552435" class="wcbf_color">1:1</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1552435_span"><a href="http://league.aicai.com/team/79/" target="_blank">狼队</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1552435">
						[7]
						</span>
							<s id="jq_guestredcard_1552435" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1552435" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">4</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1552435" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1552435_control" id="jq_1552435_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1552435-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">91位专家推荐</a>
        </td>
        <td id="jq_halfscore_1552435">
            <span class="red">0:0</span>
        </td>
        <td>
            <strong class="red">
                1
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1552435">1.55</i>|<i id="jq_drowOdds_1552435" style="background-color: rgb(218, 175, 2); color: white;">3.95</i>|<i id="jq_loseOdds_1552435">6.68</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1552435.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1552435_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1552435_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="otr_bg jq_match_matchId_1552433_tr jq_match_tr jq_match_leagueId_43_tr jq_match_status_-1_tr" id="jq_match_1552433_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1552433" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1552433_td"><strong>2</strong></td>
        <td style="color:#fff; background:#FF3333;" id="jq_league_1552433_td" status="0"><a href="http://league.aicai.com/league/43/" style="color:#fff;" target="_blank">英超</a></td>
        <td>
            <span id="jq_league_matchTime_1552433">03-11 00:30</span>
            <span id="jq_league_starttime_1552433" style="display:none;">00:30</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1552433" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1552433" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1552433">
						[5]
						</span>
						<span id="jq_match_hostteam_1552433_span"><a href="http://league.aicai.com/team/47/" target="_blank">阿森纳</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1552433" class="wcbf_color">2:0</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1552433_span"><a href="http://league.aicai.com/team/55/" target="_blank">曼联</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1552433">
						[4]
						</span>
							<s id="jq_guestredcard_1552433" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1552433" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1552433" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1552433_control" id="jq_1552433_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1552433-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">194位专家推荐</a>
        </td>
        <td id="jq_halfscore_1552433">
            <span class="red">1:0</span>
        </td>
        <td>
            <strong class="red">
                3
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1552433" style="background-color: rgb(21, 110, 202); color: white;">2.39</i>|<i id="jq_drowOdds_1552433">3.50</i>|<i id="jq_loseOdds_1552433">2.93</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1552433.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1552433_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1552433_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="jq_match_tr jq_match_matchId_1561143_tr jq_match_leagueId_20_tr jq_match_status_-1_tr" id="jq_match_1561143_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1561143" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1561143_td"><strong>3</strong></td>
        <td style="color:#fff; background:#990099;" id="jq_league_1561143_td" status="0"><a href="http://league.aicai.com/league/20/" style="color:#fff;" target="_blank">德甲</a></td>
        <td>
            <span id="jq_league_matchTime_1561143">03-10 22:30</span>
            <span id="jq_league_starttime_1561143" style="display:none;">22:30</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1561143" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1561143" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1561143">
						[10]
						</span>
						<span id="jq_match_hostteam_1561143_span"><a href="http://league.aicai.com/team/932/" target="_blank">霍芬海姆</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1561143" class="wcbf_color">2:1</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1561143_span"><a href="http://league.aicai.com/team/161/" target="_blank">纽伦堡</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1561143">
						[18]
						</span>
							<s id="jq_guestredcard_1561143" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1561143" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1561143" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1561143_control" id="jq_1561143_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1561143-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">86位专家推荐</a>
        </td>
        <td id="jq_halfscore_1561143">
            <span class="red">1:0</span>
        </td>
        <td>
            <strong class="red">
                3
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1561143" style="background-color: rgb(21, 110, 202); color: white;">1.26</i>|<i id="jq_drowOdds_1561143">6.11</i>|<i id="jq_loseOdds_1561143">10.19</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1561143.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1561143_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1561143_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="otr_bg jq_match_matchId_1561142_tr jq_match_tr jq_match_leagueId_20_tr jq_match_status_-1_tr" id="jq_match_1561142_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1561142" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1561142_td"><strong>4</strong></td>
        <td style="color:#fff; background:#990099;" id="jq_league_1561142_td" status="0"><a href="http://league.aicai.com/league/20/" style="color:#fff;" target="_blank">德甲</a></td>
        <td>
            <span id="jq_league_matchTime_1561142">03-11 01:00</span>
            <span id="jq_league_starttime_1561142" style="display:none;">01:00</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1561142" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1561142" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1561142">
						[17]
						</span>
						<span id="jq_match_hostteam_1561142_span"><a href="http://league.aicai.com/team/192/" target="_blank">汉诺威</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1561142" class="wcbf_color">2:3</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1561142_span"><a href="http://league.aicai.com/team/188/" target="_blank">勒沃库森</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1561142">
						[6]
						</span>
							<s id="jq_guestredcard_1561142" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1561142" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">1</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1561142" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1561142_control" id="jq_1561142_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1561142-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">72位专家推荐</a>
        </td>
        <td id="jq_halfscore_1561142">
            <span class="red">0:2</span>
        </td>
        <td>
            <strong class="red">
                0
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1561142">7.29</i>|<i id="jq_drowOdds_1561142">5.04</i>|<i id="jq_loseOdds_1561142" style="background-color: rgb(21, 110, 202); color: white;">1.39</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1561142.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1561142_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1561142_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="jq_match_tr jq_match_matchId_1585324_tr jq_match_leagueId_41_tr jq_match_status_-1_tr" id="jq_match_1585324_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1585324" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1585324_td"><strong>5</strong></td>
        <td style="color:#fff; background:#0088FF;" id="jq_league_1585324_td" status="0"><a href="http://league.aicai.com/league/41/" style="color:#fff;" target="_blank">意甲</a></td>
        <td>
            <span id="jq_league_matchTime_1585324">03-10 22:00</span>
            <span id="jq_league_starttime_1585324" style="display:none;">22:00</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1585324" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1585324" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1585324">
						[19]
						</span>
						<span id="jq_match_hostteam_1585324_span"><a href="http://league.aicai.com/team/1183/" target="_blank">弗洛西诺</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1585324" class="wcbf_color">1:2</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1585324_span"><a href="http://league.aicai.com/team/548/" target="_blank">都灵</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1585324">
						[7]
						</span>
							<s id="jq_guestredcard_1585324" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1585324" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">4</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1585324" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1585324_control" id="jq_1585324_control"></span>
        </td>
        <td class="expertsNumTd">
            /
        </td>
        <td id="jq_halfscore_1585324">
            <span class="red">1:0</span>
        </td>
        <td>
            <strong class="red">
                0
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1585324">4.01</i>|<i id="jq_drowOdds_1585324">3.10</i>|<i id="jq_loseOdds_1585324" style="background-color: rgb(21, 110, 202); color: white;">2.09</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1585324.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1585324_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1585324_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="otr_bg jq_match_matchId_1585315_tr jq_match_tr jq_match_leagueId_41_tr jq_match_status_-1_tr" id="jq_match_1585315_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1585315" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1585315_td"><strong>6</strong></td>
        <td style="color:#fff; background:#0088FF;" id="jq_league_1585315_td" status="0"><a href="http://league.aicai.com/league/41/" style="color:#fff;" target="_blank">意甲</a></td>
        <td>
            <span id="jq_league_matchTime_1585315">03-10 22:00</span>
            <span id="jq_league_starttime_1585315" style="display:none;">22:00</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1585315" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1585315" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1585315">
						[4]
						</span>
						<span id="jq_match_hostteam_1585315_span"><a href="http://league.aicai.com/team/176/" target="_blank">国米</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1585315" class="wcbf_color">2:0</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1585315_span"><a href="http://league.aicai.com/team/1227/" target="_blank">费拉拉</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1585315">
						[16]
						</span>
							<s id="jq_guestredcard_1585315" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1585315" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">5</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1585315" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1585315_control" id="jq_1585315_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1585315-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">101位专家推荐</a>
        </td>
        <td id="jq_halfscore_1585315">
            <span class="red">0:0</span>
        </td>
        <td>
            <strong class="red">
                3
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1585315" style="background-color: rgb(21, 110, 202); color: white;">1.42</i>|<i id="jq_drowOdds_1585315">4.36</i>|<i id="jq_loseOdds_1585315">8.49</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1585315.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1585315_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1585315_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="jq_match_tr jq_match_matchId_1585321_tr jq_match_leagueId_41_tr jq_match_status_-1_tr" id="jq_match_1585321_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1585321" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1585321_td"><strong>7</strong></td>
        <td style="color:#fff; background:#0088FF;" id="jq_league_1585321_td" status="0"><a href="http://league.aicai.com/league/41/" style="color:#fff;" target="_blank">意甲</a></td>
        <td>
            <span id="jq_league_matchTime_1585321">03-10 22:00</span>
            <span id="jq_league_starttime_1585321" style="display:none;">22:00</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1585321" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1585321" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1585321">
						[9]
						</span>
						<span id="jq_match_hostteam_1585321_span"><a href="http://league.aicai.com/team/202/" target="_blank">桑普利亚</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1585321" class="wcbf_color">1:2</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1585321_span"><a href="http://league.aicai.com/team/178/" target="_blank">亚特兰大</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1585321">
						[6]
						</span>
							<s id="jq_guestredcard_1585321" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1585321" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1585321" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1585321_control" id="jq_1585321_control"></span>
        </td>
        <td class="expertsNumTd">
            /
        </td>
        <td id="jq_halfscore_1585321">
            <span class="red">0:0</span>
        </td>
        <td>
            <strong class="red">
                0
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1585321">3.56</i>|<i id="jq_drowOdds_1585321">3.47</i>|<i id="jq_loseOdds_1585321" style="background-color: rgb(21, 110, 202); color: white;">2.07</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1585321.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1585321_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1585321_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="otr_bg jq_match_matchId_1585320_tr jq_match_tr jq_match_leagueId_41_tr jq_match_status_-1_tr" id="jq_match_1585320_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1585320" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1585320_td"><strong>8</strong></td>
        <td style="color:#fff; background:#0088FF;" id="jq_league_1585320_td" status="0"><a href="http://league.aicai.com/league/41/" style="color:#fff;" target="_blank">意甲</a></td>
        <td>
            <span id="jq_league_matchTime_1585320">03-11 01:00</span>
            <span id="jq_league_starttime_1585320" style="display:none;">01:00</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1585320" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1585320" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1585320">
						[12]
						</span>
						<span id="jq_match_hostteam_1585320_span"><a href="http://league.aicai.com/team/2506/" target="_blank">萨索洛</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1585320" class="wcbf_color">1:1</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1585320_span"><a href="http://league.aicai.com/team/1238/" target="_blank">那不勒斯</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1585320">
						[2]
						</span>
							<s id="jq_guestredcard_1585320" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1585320" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1585320" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1585320_control" id="jq_1585320_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1585320-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">84位专家推荐</a>
        </td>
        <td id="jq_halfscore_1585320">
            <span class="red">0:0</span>
        </td>
        <td>
            <strong class="red">
                1
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1585320">6.13</i>|<i id="jq_drowOdds_1585320" style="background-color: rgb(218, 175, 2); color: white;">4.02</i>|<i id="jq_loseOdds_1585320">1.56</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1585320.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1585320_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1585320_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="jq_match_tr jq_match_matchId_1585323_tr jq_match_leagueId_41_tr jq_match_status_-1_tr" id="jq_match_1585323_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1585323" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1585323_td"><strong>9</strong></td>
        <td style="color:#fff; background:#0088FF;" id="jq_league_1585323_td" status="0"><a href="http://league.aicai.com/league/41/" style="color:#fff;" target="_blank">意甲</a></td>
        <td>
            <span id="jq_league_matchTime_1585323">03-11 03:30</span>
            <span id="jq_league_starttime_1585323" style="display:none;">04:38</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1585323" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1585323" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1585323">
						[10]
						</span>
						<span id="jq_match_hostteam_1585323_span"><a href="http://league.aicai.com/team/199/" target="_blank">佛罗伦萨</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1585323" class="wcbf_color">1:1</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1585323_span"><a href="http://league.aicai.com/team/205/" target="_blank">拉齐奥</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1585323">
						[8]
						</span>
							<s id="jq_guestredcard_1585323" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1585323" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">1</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1585323" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1585323_control" id="jq_1585323_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1585323-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">96位专家推荐</a>
        </td>
        <td id="jq_halfscore_1585323">
            <span class="red">0:1</span>
        </td>
        <td>
            <strong class="red">
                1
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1585323">2.92</i>|<i id="jq_drowOdds_1585323" style="background-color: rgb(255, 69, 0); color: white;">3.36</i>|<i id="jq_loseOdds_1585323">2.43</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1585323.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1585323_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1585323_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="otr_bg jq_match_matchId_1583458_tr jq_match_tr jq_match_leagueId_38_tr jq_match_status_-1_tr" id="jq_match_1583458_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1583458" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1583458_td"><strong>10</strong></td>
        <td style="color:#fff; background:#006633;" id="jq_league_1583458_td" status="0"><a href="http://league.aicai.com/league/38/" style="color:#fff;" target="_blank">西甲</a></td>
        <td>
            <span id="jq_league_matchTime_1583458">03-10 23:15</span>
            <span id="jq_league_starttime_1583458" style="display:none;">23:15</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1583458" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1583458" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">1</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1583458">
						[14]
						</span>
						<span id="jq_match_hostteam_1583458_span"><a href="http://league.aicai.com/team/30/" target="_blank">赫罗纳</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1583458" class="wcbf_color">2:3</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1583458_span"><a href="http://league.aicai.com/team/118/" target="_blank">巴伦西亚</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1583458">
						[8]
						</span>
							<s id="jq_guestredcard_1583458" class="red_card_num jq_redcard" title="红牌">1</s>
							<s id="jq_guestyellowcard_1583458" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1583458" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1583458_control" id="jq_1583458_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1583458-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">72位专家推荐</a>
        </td>
        <td id="jq_halfscore_1583458">
            <span class="red">1:1</span>
        </td>
        <td>
            <strong class="red">
                0
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1583458">3.35</i>|<i id="jq_drowOdds_1583458">3.22</i>|<i id="jq_loseOdds_1583458" style="background-color: rgb(21, 110, 202); color: white;">2.26</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1583458.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1583458_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1583458_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="jq_match_tr jq_match_matchId_1583452_tr jq_match_leagueId_38_tr jq_match_status_-1_tr" id="jq_match_1583452_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1583452" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1583452_td"><strong>11</strong></td>
        <td style="color:#fff; background:#006633;" id="jq_league_1583452_td" status="0"><a href="http://league.aicai.com/league/38/" style="color:#fff;" target="_blank">西甲</a></td>
        <td>
            <span id="jq_league_matchTime_1583452">03-11 01:30</span>
            <span id="jq_league_starttime_1583452" style="display:none;">01:30</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1583452" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1583452" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1583452">
						[7]
						</span>
						<span id="jq_match_hostteam_1583452_span"><a href="http://league.aicai.com/team/113/" target="_blank">塞维利亚</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1583452" class="wcbf_color">5:2</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1583452_span"><a href="http://league.aicai.com/team/131/" target="_blank">皇家社会</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1583452">
						[9]
						</span>
							<s id="jq_guestredcard_1583452" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1583452" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1583452" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1583452_control" id="jq_1583452_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1583452-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">83位专家推荐</a>
        </td>
        <td id="jq_halfscore_1583452">
            <span class="red">1:1</span>
        </td>
        <td>
            <strong class="red">
                3
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1583452" style="background-color: rgb(21, 110, 202); color: white;">1.63</i>|<i id="jq_drowOdds_1583452">3.98</i>|<i id="jq_loseOdds_1583452">5.34</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1583452.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1583452_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1583452_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="otr_bg jq_match_matchId_1583455_tr jq_match_tr jq_match_leagueId_38_tr jq_match_status_-1_tr" id="jq_match_1583455_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1583455" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1583455_td"><strong>12</strong></td>
        <td style="color:#fff; background:#006633;" id="jq_league_1583455_td" status="0"><a href="http://league.aicai.com/league/38/" style="color:#fff;" target="_blank">西甲</a></td>
        <td>
            <span id="jq_league_matchTime_1583455">03-11 01:30</span>
            <span id="jq_league_starttime_1583455" style="display:none;">01:30</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1583455" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1583455" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1583455">
						[15]
						</span>
						<span id="jq_match_hostteam_1583455_span"><a href="http://league.aicai.com/team/129/" target="_blank">莱万特</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1583455" class="wcbf_color">0:2</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1583455_span"><a href="http://league.aicai.com/team/132/" target="_blank">比利亚雷</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1583455">
						[18]
						</span>
							<s id="jq_guestredcard_1583455" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1583455" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">5</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1583455" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1583455_control" id="jq_1583455_control"></span>
        </td>
        <td class="expertsNumTd">
            /
        </td>
        <td id="jq_halfscore_1583455">
            <span class="red">0:0</span>
        </td>
        <td>
            <strong class="red">
                0
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1583455">2.75</i>|<i id="jq_drowOdds_1583455">3.48</i>|<i id="jq_loseOdds_1583455" style="background-color: rgb(21, 110, 202); color: white;">2.50</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1583455.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1583455_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1583455_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="jq_match_tr jq_match_matchId_1583451_tr jq_match_leagueId_38_tr jq_match_status_-1_tr" id="jq_match_1583451_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1583451" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1583451_td"><strong>13</strong></td>
        <td style="color:#fff; background:#006633;" id="jq_league_1583451_td" status="0"><a href="http://league.aicai.com/league/38/" style="color:#fff;" target="_blank">西甲</a></td>
        <td>
            <span id="jq_league_matchTime_1583451">03-11 03:45</span>
            <span id="jq_league_starttime_1583451" style="display:none;">04:51</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1583451" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1583451" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">1</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1583451">
						[16]
						</span>
						<span id="jq_match_hostteam_1583451_span"><a href="http://league.aicai.com/team/148/" target="_blank">巴利亚多</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1583451" class="wcbf_color">1:4</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1583451_span"><a href="http://league.aicai.com/team/109/" target="_blank">皇马</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1583451">
						[3]
						</span>
							<s id="jq_guestredcard_1583451" class="red_card_num jq_redcard" title="红牌">1</s>
							<s id="jq_guestyellowcard_1583451" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">6</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1583451" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1583451_control" id="jq_1583451_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1583451-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">96位专家推荐</a>
        </td>
        <td id="jq_halfscore_1583451">
            <span class="red">1:1</span>
        </td>
        <td>
            <strong class="red">
                0
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1583451">5.59</i>|<i id="jq_drowOdds_1583451">4.33</i>|<i id="jq_loseOdds_1583451" style="background-color: rgb(21, 110, 202); color: white;">1.56</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1583451.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1583451_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1583451_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <tr class="otr_bg jq_match_matchId_1552071_tr jq_match_tr jq_match_leagueId_28_tr jq_match_status_-1_tr" id="jq_match_1552071_tr">
        <!--
            <td>
                <input type="checkbox" id="jq_1552071" class="jq_selectmatch input" checked="checked" />
            </td>
        -->
        <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1552071_td"><strong>14</strong></td>
        <td style="color:#fff; background:#FF6699;" id="jq_league_1552071_td" status="0"><a href="http://league.aicai.com/league/28/" style="color:#fff;" target="_blank">荷甲</a></td>
        <td>
            <span id="jq_league_matchTime_1552071">03-10 23:45</span>
            <span id="jq_league_starttime_1552071" style="display:none;">23:45</span>
        </td>
        <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1552071" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1552071" class="yellow_card_num jq_yellowcard" title="黄牌" style="display:none;">0</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1552071">
						[2]
						</span>
						<span id="jq_match_hostteam_1552071_span"><a href="http://league.aicai.com/team/265/" target="_blank">阿贾克斯</a></span>
					</span>
            <span class="vs">
							<a id="jq_timelyscore_1552071" class="wcbf_color">4:0</a>
					</span>
            <span class="right_line">
						<span id="jq_match_guestteam_1552071_span"><a href="http://league.aicai.com/team/285/" target="_blank">福图纳</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1552071">
						[14]
						</span>
							<s id="jq_guestredcard_1552071" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1552071" class="yellow_card_num jq_yellowcard" title="黄牌" style="display:none;">0</s>
					</span>
            <span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1552071" rel="-1">完场</span>
					</span>
				</span>
            <span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1552071_control" id="jq_1552071_control"></span>
        </td>
        <td class="expertsNumTd">
            <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1552071-1/matchPlanRecommend?showHeader=1&amp;agentId=2335103">58位专家推荐</a>
        </td>
        <td id="jq_halfscore_1552071">
            <span class="red">2:0</span>
        </td>
        <td>
            <strong class="red">
                3
            </strong>
        </td>
        <td class="txtddd"><i id="jq_winOdds_1552071" style="background-color: rgb(21, 110, 202); color: white;">1.03</i>|<i id="jq_drowOdds_1552071">16.84</i>|<i id="jq_loseOdds_1552071">39.27</i></td>
        <td class="rt_no_border">
            <a href="/zc/xyo_1552071.html" target="_blank">析</a>&nbsp;
            <a href="/zc/xyo_1552071_yazhi.html" target="_blank">亚</a>&nbsp;
            <a href="/zc/xyo_1552071_ouzhi.html" target="_blank">欧</a>
        </td>
    </tr>
    <script type="text/javascript">
        var matchIdArr = [];
        var matchArr = Array(14);

        matchArr[0] = '1552435^43^2019-03-10 22:05^22:05^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1552435';

        matchArr[1] = '1552433^43^2019-03-11 00:30^00:30^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1552433';

        matchArr[2] = '1561143^20^2019-03-10 22:30^22:30^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1561143';

        matchArr[3] = '1561142^20^2019-03-11 01:00^01:00^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1561142';

        matchArr[4] = '1585324^41^2019-03-10 22:00^22:00^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1585324';

        matchArr[5] = '1585315^41^2019-03-10 22:00^22:00^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1585315';

        matchArr[6] = '1585321^41^2019-03-10 22:00^22:00^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1585321';

        matchArr[7] = '1585320^41^2019-03-11 01:00^01:00^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1585320';

        matchArr[8] = '1585323^41^2019-03-11 03:30^04:38^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1585323';

        matchArr[9] = '1583458^38^2019-03-10 23:15^23:15^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1583458';

        matchArr[10] = '1583452^38^2019-03-11 01:30^01:30^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1583452';

        matchArr[11] = '1583455^38^2019-03-11 01:30^01:30^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1583455';

        matchArr[12] = '1583451^38^2019-03-11 03:45^04:51^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1583451';

        matchArr[13] = '1552071^28^2019-03-10 23:45^23:45^-1'.split('^');
        matchIdArr[matchIdArr.length] = '1552071';

    </script>
    </tbody>
</table>