<tr class="otr_bg jq_match_matchId_1649220_tr jq_match_tr jq_match_leagueId_56_tr jq_match_status_-14_tr" id="jq_match_1649220_tr">
    <td>
        <input type="checkbox" id="jq_1649220" class="jq_selectmatch input" checked="checked">
    </td>
    <td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1649220_td">周五105</td>
    <td style="color:#fff; background:#297CA5" id="jq_league_1649220_td" status="0"><a href="http://league.aicai.com/cup/56/" style="color:#fff;" target="_blank">法国杯</a></td>
    <td>
        <span id="jq_league_matchTime_1649220">01-05 03:55</span>
        <span id="jq_league_starttime_1649220" style="display:none;">03:55</span>
    </td>
    <td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1649220" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1649220" class="yellow_card_num jq_yellowcard" title="黄牌" style="display:none;">0</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1649220">
						</span>
						<span id="jq_match_hostteam_1649220_span"><a href="http://league.aicai.com/team/393/" target="_blank">格勒诺布</a></span>
					</span>
        <span class="vs">
							<strong id="jq_timelyscore_1649220">VS</strong>
					</span>
        <span class="right_line">
						<span id="jq_match_guestteam_1649220_span"><a href="http://league.aicai.com/team/272/" target="_blank">斯特拉斯</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1649220">
						</span>
							<s id="jq_guestredcard_1649220" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1649220" class="yellow_card_num jq_yellowcard" title="黄牌" style="display:none;">0</s>
					</span>
        <span class="time_box">
					<span class="time_min">
						<span id="jq_status_1649220" rel="-14">延期</span>
					</span>
					<span class="bf_jdt" style="display:none;"><span id="jq_timejdt_1649220" class="jdt_n2" style="width:0px;"></span></span>
				</span>
        <span title="查看比赛进程" style="visibility:hidden;" class="s_h_w jq_matchdetail_control jq_1649220_control" id="jq_1649220_control"></span>
    </td>
    <td class="expertsNumTd">
        <a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1649220-1?agentId=2335103"><span class="red">178</span>位专家推荐</a>
    </td>
    <td id="jq_halfscore_1649220">
        --
    </td>
    <td id="jq_rangqiu_1649220" letpoint="1"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;">0</p><p>1</p></div></td>
    <td class="txtddd"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;"><i id="jq_winOdds_1649220">3.22</i>|<i id="jq_drowOdds_1649220">2.97</i>|<i id="jq_loseOdds_1649220">2.08</i></p><p><i id="jq_winOdds_let_1649220">1.57</i>|<i id="jq_drowOdds_let_1649220">3.70</i>|<i id="jq_loseOdds_let_1649220">4.50</i></p></div></td>
    <td class="rt_no_border">
        <a href="/zc/xyo_1649220.html" target="_blank">析</a>&nbsp;
        <a href="/zc/xyo_1649220_yazhi.html" target="_blank">亚</a>&nbsp;
        <a href="/zc/xyo_1649220_ouzhi.html" target="_blank">欧</a>
    </td>
</tr>