<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="ssId" name="ssId" th:value="${scoreData.ssId}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">数据源：</label>
								<div class="col-sm-8">
									<input id="ssTable" name="ssTable" th:value="${scoreData.ssTable}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/common/scoreData/edit.js">
	</script>
</body>
</html>



<table class="table_stys_01" id="jq_jsbf_body">
	<thead>
	<tr>
		<td width="30">显示</td>
		<td width="50">场次</td>
		<td width="65">赛事</td>
		<td width="75">开赛时间</td>
		<td>赛事信息</td>
		<td id="expertsTd" width="80" style="display: table-cell;">专家推荐</td>
		<td width="40">半场</td>
		<td width="35">让球</td>
		<td width="135"><select id="jq_select_data"><option value="sp_val">竞彩sp值</option><option value="avg_euro_val">平均欧指</option></select></td>
		<td width="75" class="rt_no_border">数据分析</td>
	</tr>
	</thead>

	<tbody id="jq_match_bodyHead_2019-01-03_tbody" class="jq_match_bodyHead">
		<tr>
			<td colspan="10">2019-01-03 (11:00 -- 次日 11:00)</td>
		</tr>
	</tbody>

	<tbody class="tbody_body jq_match_2019-01-03_tbody jq_match_bodyHead">
	<tr class="otr_bg jq_match_matchId_1576211_tr jq_match_tr jq_match_leagueId_32_tr jq_match_status_-1_tr" id="jq_match_1576211_tr">
		<td>
			<input type="checkbox" id="jq_1576211" class="jq_selectmatch input" checked="checked">
		</td>
		<td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1576211_td">周四101</td>
		<td style="color:#fff; background:#008888" id="jq_league_1576211_td" status="0"><a href="http://league.aicai.com/league/32/" style="color:#fff;" target="_blank">葡超</a></td>
		<td>
			<span id="jq_league_matchTime_1576211">01-03 23:59</span>
			<span id="jq_league_starttime_1576211" style="display:none;">23:59</span>
		</td>
		<td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1576211" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1576211" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1576211">
						[18]
						</span>
						<span id="jq_match_hostteam_1576211_span"><a href="http://league.aicai.com/team/866/" target="_blank">沙维什</a></span>
					</span>
			<span class="vs">
							<a id="jq_timelyscore_1576211" class="wcbf_color">0:0</a>
					</span>
			<span class="right_line">
						<span id="jq_match_guestteam_1576211_span"><a href="http://league.aicai.com/team/1343/" target="_blank">费伦斯</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1576211">
						[17]
						</span>
							<s id="jq_guestredcard_1576211" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1576211" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
					</span>
			<span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1576211" rel="-1">完场</span>
					</span>
				</span>
			<span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1576211_control" id="jq_1576211_control"></span>
		</td>
		<td class="expertsNumTd">
			<a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1576211-1?agentId=2335103"><span class="red">184</span>位专家推荐</a>
		</td>
		<td id="jq_halfscore_1576211">
			<span class="red">0:0</span>
		</td>
		<td id="jq_rangqiu_1576211" letpoint="-1"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;">0</p><p>-1</p></div></td>
		<td class="txtddd"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;"><i id="jq_winOdds_1576211">1.83</i>|<i id="jq_drowOdds_1576211" style="background-color: rgb(218, 175, 2); color: white;">2.90</i>|<i id="jq_loseOdds_1576211">4.20</i></p><p><i id="jq_winOdds_let_1576211">3.80</i>|<i id="jq_drowOdds_let_1576211">3.40</i>|<i id="jq_loseOdds_let_1576211" style="background-color: rgb(21, 110, 202); color: white;">1.75</i></p></div></td>
		<td class="rt_no_border">
			<a href="/zc/xyo_1576211.html" target="_blank">析</a>&nbsp;
			<a href="/zc/xyo_1576211_yazhi.html" target="_blank">亚</a>&nbsp;
			<a href="/zc/xyo_1576211_ouzhi.html" target="_blank">欧</a>
		</td>
	</tr>
	<tr class="jq_match_tr jq_match_matchId_1576215_tr jq_match_leagueId_32_tr jq_match_status_-1_tr" id="jq_match_1576215_tr">
		<td>
			<input type="checkbox" id="jq_1576215" class="jq_selectmatch input" checked="checked">
		</td>
		<td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1576215_td">周四102</td>
		<td style="color:#fff; background:#008888" id="jq_league_1576215_td" status="0"><a href="http://league.aicai.com/league/32/" style="color:#fff;" target="_blank">葡超</a></td>
		<td>
			<span id="jq_league_matchTime_1576215">01-04 02:00</span>
			<span id="jq_league_starttime_1576215" style="display:none;">02:00</span>
		</td>
		<td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1576215" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1576215" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1576215">
						[4]
						</span>
						<span id="jq_match_hostteam_1576215_span"><a href="http://league.aicai.com/team/461/" target="_blank">里斯本竞</a></span>
					</span>
			<span class="vs">
							<a id="jq_timelyscore_1576215" class="wcbf_color">2:1</a>
					</span>
			<span class="right_line">
						<span id="jq_match_guestteam_1576215_span"><a href="http://league.aicai.com/team/840/" target="_blank">比兰尼塞</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1576215">
						[8]
						</span>
							<s id="jq_guestredcard_1576215" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1576215" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">3</s>
					</span>
			<span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1576215" rel="-1">完场</span>
					</span>
				</span>
			<span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1576215_control" id="jq_1576215_control"></span>
		</td>
		<td class="expertsNumTd">
			<a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1576215-1?agentId=2335103"><span class="red">198</span>位专家推荐</a>
		</td>
		<td id="jq_halfscore_1576215">
			<span class="red">0:0</span>
		</td>
		<td id="jq_rangqiu_1576215" letpoint="-1"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;">0</p><p>-1</p></div></td>
		<td class="txtddd"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;"><i id="jq_winOdds_1576215" style="background-color: rgb(21, 110, 202); color: white;">1.20</i>|<i id="jq_drowOdds_1576215">5.10</i>|<i id="jq_loseOdds_1576215">10.00</i></p><p><i id="jq_winOdds_let_1576215">1.77</i>|<i id="jq_drowOdds_let_1576215" style="background-color: rgb(255, 69, 0); color: white;">3.55</i>|<i id="jq_loseOdds_let_1576215">3.53</i></p></div></td>
		<td class="rt_no_border">
			<a href="/zc/xyo_1576215.html" target="_blank">析</a>&nbsp;
			<a href="/zc/xyo_1576215_yazhi.html" target="_blank">亚</a>&nbsp;
			<a href="/zc/xyo_1576215_ouzhi.html" target="_blank">欧</a>
		</td>
	</tr>
	<tr class="otr_bg jq_match_matchId_1552349_tr jq_match_tr jq_match_leagueId_43_tr jq_match_status_-1_tr" id="jq_match_1552349_tr">
		<td>
			<input type="checkbox" id="jq_1552349" class="jq_selectmatch input" checked="checked">
		</td>
		<td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1552349_td">周四103</td>
		<td style="color:#fff; background:#FF3333" id="jq_league_1552349_td" status="0"><a href="http://league.aicai.com/league/43/" style="color:#fff;" target="_blank">英超</a></td>
		<td>
			<span id="jq_league_matchTime_1552349">01-04 04:00</span>
			<span id="jq_league_starttime_1552349" style="display:none;">04:00</span>
		</td>
		<td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1552349" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1552349" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">4</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1552349">
						[3]
						</span>
						<span id="jq_match_hostteam_1552349_span"><a href="http://league.aicai.com/team/54/" target="_blank">曼城</a></span>
					</span>
			<span class="vs">
							<a id="jq_timelyscore_1552349" class="wcbf_color">2:1</a>
					</span>
			<span class="right_line">
						<span id="jq_match_guestteam_1552349_span"><a href="http://league.aicai.com/team/53/" target="_blank">利物浦</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1552349">
						[1]
						</span>
							<s id="jq_guestredcard_1552349" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1552349" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
					</span>
			<span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1552349" rel="-1">完场</span>
					</span>
				</span>
			<span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1552349_control" id="jq_1552349_control"></span>
		</td>
		<td class="expertsNumTd">
			<a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1552349-1?agentId=2335103"><span class="red">337</span>位专家推荐</a>
		</td>
		<td id="jq_halfscore_1552349">
			<span class="red">1:0</span>
		</td>
		<td id="jq_rangqiu_1552349" letpoint="-1"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;">0</p><p>-1</p></div></td>
		<td class="txtddd"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;"><i id="jq_winOdds_1552349" style="background-color: rgb(21, 110, 202); color: white;">1.90</i>|<i id="jq_drowOdds_1552349">3.70</i>|<i id="jq_loseOdds_1552349">3.00</i></p><p><i id="jq_winOdds_let_1552349">3.75</i>|<i id="jq_drowOdds_let_1552349" style="background-color: rgb(255, 69, 0); color: white;">3.85</i>|<i id="jq_loseOdds_let_1552349">1.66</i></p></div></td>
		<td class="rt_no_border">
			<a href="/zc/xyo_1552349.html" target="_blank">析</a>&nbsp;
			<a href="/zc/xyo_1552349_yazhi.html" target="_blank">亚</a>&nbsp;
			<a href="/zc/xyo_1552349_ouzhi.html" target="_blank">欧</a>
		</td>
	</tr>
	<tr class="jq_match_tr jq_match_matchId_1576208_tr jq_match_leagueId_32_tr jq_match_status_-1_tr" id="jq_match_1576208_tr">
		<td>
			<input type="checkbox" id="jq_1576208" class="jq_selectmatch input" checked="checked">
		</td>
		<td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1576208_td">周四104</td>
		<td style="color:#fff; background:#008888" id="jq_league_1576208_td" status="0"><a href="http://league.aicai.com/league/32/" style="color:#fff;" target="_blank">葡超</a></td>
		<td>
			<span id="jq_league_matchTime_1576208">01-04 04:15</span>
			<span id="jq_league_starttime_1576208" style="display:none;">05:22</span>
		</td>
		<td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1576208" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1576208" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1576208">
						[15]
						</span>
						<span id="jq_match_hostteam_1576208_span"><a href="http://league.aicai.com/team/867/" target="_blank">阿维斯</a></span>
					</span>
			<span class="vs">
							<a id="jq_timelyscore_1576208" class="wcbf_color">0:1</a>
					</span>
			<span class="right_line">
						<span id="jq_match_guestteam_1576208_span"><a href="http://league.aicai.com/team/463/" target="_blank">波尔图</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1576208">
						[1]
						</span>
							<s id="jq_guestredcard_1576208" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1576208" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">1</s>
					</span>
			<span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1576208" rel="-1">完场</span>
					</span>
				</span>
			<span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1576208_control" id="jq_1576208_control"></span>
		</td>
		<td class="expertsNumTd">
			<a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1576208-1?agentId=2335103"><span class="red">169</span>位专家推荐</a>
		</td>
		<td id="jq_halfscore_1576208">
			<span class="red">0:1</span>
		</td>
		<td id="jq_rangqiu_1576208" letpoint="1"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;">0</p><p>1</p></div></td>
		<td class="txtddd"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;"><i id="jq_winOdds_1576208">11.50</i>|<i id="jq_drowOdds_1576208">5.35</i>|<i id="jq_loseOdds_1576208" style="background-color: rgb(21, 110, 202); color: white;">1.17</i></p><p><i id="jq_winOdds_let_1576208">3.98</i>|<i id="jq_drowOdds_let_1576208" style="background-color: rgb(218, 175, 2); color: white;">3.45</i>|<i id="jq_loseOdds_let_1576208">1.70</i></p></div></td>
		<td class="rt_no_border">
			<a href="/zc/xyo_1576208.html" target="_blank">析</a>&nbsp;
			<a href="/zc/xyo_1576208_yazhi.html" target="_blank">亚</a>&nbsp;
			<a href="/zc/xyo_1576208_ouzhi.html" target="_blank">欧</a>
		</td>
	</tr>
	<tr class="otr_bg jq_match_matchId_1583350_tr jq_match_tr jq_match_leagueId_38_tr jq_match_status_-1_tr" id="jq_match_1583350_tr">
		<td>
			<input type="checkbox" id="jq_1583350" class="jq_selectmatch input" checked="checked">
		</td>
		<td class="txtbbb xx_bg_weekIndex" id="jq_matchindex_1583350_td">周四105</td>
		<td style="color:#fff; background:#006633" id="jq_league_1583350_td" status="0"><a href="http://league.aicai.com/league/38/" style="color:#fff;" target="_blank">西甲</a></td>
		<td>
			<span id="jq_league_matchTime_1583350">01-04 04:30</span>
			<span id="jq_league_starttime_1583350" style="display:none;">05:31</span>
		</td>
		<td class="duiz_box">
					<span class="left_line">
							<s id="jq_hostredcard_1583350" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_hostyellowcard_1583350" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_hostrank_1583350">
						[18]
						</span>
						<span id="jq_match_hostteam_1583350_span"><a href="http://league.aicai.com/team/132/" target="_blank">比利亚雷</a></span>
					</span>
			<span class="vs">
							<a id="jq_timelyscore_1583350" class="wcbf_color">2:2</a>
					</span>
			<span class="right_line">
						<span id="jq_match_guestteam_1583350_span"><a href="http://league.aicai.com/team/109/" target="_blank">皇马</a></span>
						<span title="球队排名" class="gray_11 jq_rank" id="jq_guestrank_1583350">
						[4]
						</span>
							<s id="jq_guestredcard_1583350" class="red_card_num jq_redcard" title="红牌" style="display:none;">0</s>
							<s id="jq_guestyellowcard_1583350" class="yellow_card_num jq_yellowcard" title="黄牌" style="display: none;">2</s>
					</span>
			<span class="time_box">
					<span class="time_wc">
						<span id="jq_status_1583350" rel="-1">完场</span>
					</span>
				</span>
			<span title="查看比赛进程" class="s_h_h jq_matchdetail_control jq_1583350_control" id="jq_1583350_control"></span>
		</td>
		<td class="expertsNumTd">
			<a target="_blank" href="https://yq.aicai.com/matchPlanDetail/1583350-1?agentId=2335103"><span class="red">255</span>位专家推荐</a>
		</td>
		<td id="jq_halfscore_1583350">
			<span class="red">1:2</span>
		</td>
		<td id="jq_rangqiu_1583350" letpoint="1"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;">0</p><p>1</p></div></td>
		<td class="txtddd"><div class="tdDiv"><p style="border-bottom: 1px solid #DDDDDD;"><i id="jq_winOdds_1583350">4.40</i>|<i id="jq_drowOdds_1583350" style="background-color: rgb(218, 175, 2); color: white;">3.85</i>|<i id="jq_loseOdds_1583350">1.56</i></p><p><i id="jq_winOdds_let_1583350" style="background-color: rgb(21, 110, 202); color: white;">2.05</i>|<i id="jq_drowOdds_let_1583350">3.55</i>|<i id="jq_loseOdds_let_1583350">2.78</i></p></div></td>
		<td class="rt_no_border">
			<a href="/zc/xyo_1583350.html" target="_blank">析</a>&nbsp;
			<a href="/zc/xyo_1583350_yazhi.html" target="_blank">亚</a>&nbsp;
			<a href="/zc/xyo_1583350_ouzhi.html" target="_blank">欧</a>
		</td>
	</tr>
	</tbody>

</table>
