<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style type="text/css">
	.table {table-layout:fixed;}
	#expertsTd{display:none!important;}
	.rt_no_border{display:none!important;}
	.expertsNumTd{display:none!important;}
	table>thead>tr>td:nth-child(5){width:360px!important;}
	.btn {border-radius: 0px;}
	.form-control{border-radius: 0px;}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="common:scoreData:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="common:scoreData:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<div class="form-inline">
								<input class="form-control input-outline" name="dataId" id="dataId" type="text" placeholder="数据ID">
								<input class="form-control input-outline" name="dataTime" id="dataTime"  type="text" placeholder="数据时间">
								<input class="form-control input-outline"  name="dataTable" id="dataTable"  type="text" placeholder="数据HTML">
								<button class="btn btn-success" onclick="reLoad()"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
								<button class="btn btn-info" onclick="resetSearch()"><i class="fa fa-eraser" aria-hidden="true"></i>重置</button>
							</div>
						</div>
					</div>
					<table id="exampleTable" class="text-nowrap">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="common:scoreData:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="common:scoreData:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="common:scoreData:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/common/scoreData/scoreData.js"></script>
</body>
</html>